<ion-view cache-view='false' view-title="เปลี่ยนรหัสผ่าน">
  <ion-content>

  	<form ng-submit="doChangePassword()">
		<div class="list">
		    <label class="item item-input">
		      <span class="input-label" style='text-align:right;'>รหัสผ่านเก่า</span>
		      <input type="password" class='login-input' ng-model="changePassword.oldpassword">
		    </label>
		    <label class="item item-input">
		      <span class="input-label" style='text-align:right;'>รหัสผ่านใหม่</span>
		      <input type="password" class='login-input' ng-model="changePassword.newpassword">
		    </label>
		    <div class='text-center'>
		      <button class="button button-default button-positive login-btn" type="submit">เปลี่ยนรหัสผ่าน</button>
		    </div>
	    </div>
	</form>

  </ion-content>
</ion-view>
