<ion-view cache-view='false' view-title="รายการ-ปิดใบงาน">
  <ion-content>

  	<div class="bar bar-header item-input-inset">
	    <label class="item-input-wrapper" ion-datetime-picker date ng-model="search.SearchDate" ng-change='TimeChange()'>
	        <i class="icon ion-ios-search placeholder-icon" ></i>
	        	<span style='height:34px;line-height:34px;'>{{search.SearchDate | date:"dd/MM/yyyy" }}</span>
	    </label>
	    <button type='button' ng-click='clearFilter()' class="ion-android-close button button-outline button-positive" ng-show="search.SearchDate || search.SearchDate.length > 0">
	    </button>
	</div>

    <div class='list'>
    	<div class='item item-button-right' ng-repeat='item in transactions'>
    		<div ng-click='editRecall(item.id)'>
				<h2>FlightNo: {{item.FlightNo}}</h2>
				<p>STA: {{convertDateTimeFormat(item.ETA)}}</p>
				<p>STD: {{convertDateTimeFormat(item.ETD)}}</p>
				<p>CreateDate: {{item.CreatedDateTxt}}</p>
				<img src="{{item.Logo}}" width='150' height='50'>
    		</div>
			<button class='button button-assertive' ng-click='DeleteRecall(item.id)'>
				<i class='icon ion-trash-a'></i>
			</button>
    	</div>
	</div>

  </ion-content>
</ion-view>
