<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">เข้าสู่ระบบ</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">ปิด</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class='dte-header'>
      <span>400 Hz/PCASMS</span>
    </div>
    <div class='dte-logo'>
      <img src='img/logo.jpg' class='full-image' />
    </div>

    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label" style='text-align:right;'>Username</span>
          <input type="text" class='login-input' ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label" style='text-align:right;'>Password</span>
          <input type="text" class='login-input' ng-model="loginData.password">
        </label>
        <div class='text-center'>
          <button class="button button-default button-positive login-btn" type="submit">เข้าสู่ระบบ</button>
        </div>
        
      </div>
    </form>
  </ion-content>
</ion-modal-view>
