<ion-view cache-view='false' view-title="{{title}}">

  <ion-content>
    <div class='header text-center'>
    	<h4>PCA/GPU SERVICE ORDER</h4>
    </div>

    <div class='list card' ng-show='SOID != 0'>
    	<div class='item item-button-right'>
    		พิมพ์ใบ Service Order
    		<button type='button' class='button button-small icon-left ion-printer button-balanced' ng-show='SOID != 0' ng-click='printSO()'> Print-SO</button>		
    	</div>
    </div>

    <div ng-show='SOID != 0' class='list card'>
    	<label class="item item-input">
	    	<span class="input-label">ServiceRate</span>
	    	<span>{{serviceRate}}</span>
	  	</label>
    </div>

    <div ng-show='false' class='list card'>
		<label class="item item-input">
	    	<span class="input-label">Date</span>
	    	<span>{{createTime}}</span>
	  	</label>
	  	<label class="item item-input">
		    <span class="input-label">Station</span>
		    <input type="text" ng-model='saveso.station'>
	  	</label>
	  	<label class="item item-input">
		    <span class="input-label">Air Carrier</span>
		    <input type="text" ng-model='saveso.aircarrier'>
	  	</label>
	  	<label class="item item-input">
		    <span class="input-label autocompletelbl">Flight No.</span>
		    <div class='divautocomplete' style='width:1500px;'>
		    	<!-- <i class="icon ion-ios-search placeholder-icon"></i> -->
			    <input ion-autocomplete type="search" readonly="readonly" class="ion-autocomplete" autocomplete="off"
	                       ng-model="saveso.flightno"
	                       item-value-key="FlightNo"
	                       item-view-value-key="FlightNo"
	                       items-method="getFlights(query)"
	                       items-method-value-key="items"
	                       placeholder=" ค้นหา Flight No."
	                       items-clicked-method="itemsClicked(callback)"
	                       items-removed-method="itemsRemoved(callback)"
	                       max-selected-items="1"/>
		    </div>
	  	</label>
          
	  	<label class="item item-input">
		    <span class="input-label">Aircraft Type</span>
		    <input type="text" ng-model='saveso.aircrafttype'>
	  	</label>
	  	<label class="item item-input">
		    <span class="input-label">Aircraft Reg</span>
		    <input type="text" ng-model='saveso.aircraftreg'>
	  	</label>
	  	<label class="item item-input" ng-disabled='!saveso.aircraftsta || saveso.aircraftsta.length == 0' ion-datetime-picker time ng-model="saveso.aircraftstaTxt" ng-change='TimeChange(true)'>
	  		<span class='timepicker'>Aircraft STA</span>
	    	<span class='timepickerVal'>{{saveso.aircraftstaTxt| date: "HH:mm"}}</span>
	  	</label>
	  	<label class="item item-input" ng-disabled='!saveso.aircraftstd || saveso.aircraftstd.length == 0' ion-datetime-picker time ng-model="saveso.aircraftstdTxt" ng-change='TimeChange(false)'>
	  		<!-- <span>Aircraft STD &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> -->
	  		<span class='timepicker'>Aircraft STD</span>
	    	<span class='timepickerVal'>{{saveso.aircraftstdTxt| date: "HH:mm"}}</span>
	  	</label>
	  	<label class="item item-input">
		    <span class="input-label">Gate No.</span>
		    <input type="text" ng-model='saveso.gateno'>
	  	</label>
	</div>

	<div class='list card'>
		<label class="item item-input">
	    	<span class="input-label">ลายเซ็นต์-Start</span>
	    	<button type='button' ng-click='OpenModalSignature(true)' class='button button-balanced'>Start</button>
	  	</label>
	</div>

	<div class='list card'>
		<label class="item item-input">
	    	<span class="input-label">ลายเซ็นต์-Stop</span>
	    	<button type='button' ng-click='OpenModalSignature(false)' class='button button-balanced'>Stop</button>
	  	</label>
	</div>

	<div class='list card'>
		<h4 class='subject'>PCA</h4>
		<ion-item class='item item-checkbox'>
			<label class='checkbox'>
				<input type='checkbox' ng-model='saveso.pca.hose1' />
			</label>
			1 Hose
		</ion-item>
		<ion-item class='item item-checkbox'>
			<label class='checkbox'>
				<input type='checkbox' ng-model='saveso.pca.hose2' />
			</label>
			2 Hose
		</ion-item>
		<label ng-show="saveso.startSignature && saveso.startSignature.length > 0" class="item item-input">
		    <span class="input-label"><button ng-click='stampStartDateTime(true)' class='button button-assertive'>Start</button></span>
		    <span>{{saveso.pca.startTxt}}</span>
	  	</label>
	  	<label ng-show="saveso.stopSignature && saveso.stopSignature.length > 0" class="item item-input">
		    <span class="input-label"><button ng-disabled='!saveso.pca.start || saveso.pca.start.length <= 0' ng-click='stampStopDateTime(true)' class='button button-assertive'>Stop</button></span>
		    <span>{{saveso.pca.stopTxt}}</span>
	  	</label>
	  	<label class="item item-input">
		    <span class="input-label">Total-Time</span>
		    <span>{{saveso.pca.totaltime}}</span>
	  	</label>

	  	<h4 class='subject'>GPU</h4>
		<ion-item class='item item-checkbox'>
			<label class='checkbox'>
				<input type='checkbox' ng-model='saveso.gpu.plug1' />
			</label>
			1 Plug
		</ion-item>
		<ion-item class='item item-checkbox'>
			<label class='checkbox'>
				<input type='checkbox' ng-model='saveso.gpu.plug2' />
			</label>
			2 Plug
		</ion-item>
		<label ng-show="saveso.startSignature && saveso.startSignature.length > 0" class="item item-input">
		    <span class="input-label"><button ng-click='stampStartDateTime(false)' class='button button-assertive'>Start</button></span>
		    <span>{{saveso.gpu.startTxt}}</span>
	  	</label>
	  	<label ng-show="saveso.stopSignature && saveso.stopSignature.length > 0" class="item item-input">
		    <span class="input-label"><button ng-disabled='!saveso.gpu.start || saveso.gpu.start.length <= 0' ng-click='stampStopDateTime(false)' class='button button-assertive'>Stop</button></span>
		    <span>{{saveso.gpu.stopTxt}}</span>
	  	</label>
	  	<label class="item item-input">
		    <span class="input-label">Total-Time</span>
		    <span>{{saveso.gpu.totaltime}}</span>
	  	</label>
	</div>

	<div class='list card'>
		<h4 class='subject'>Operated By</h4>
		<label class="item item-input">
		    <span class="input-label">ID No.</span>
		    <span>{{saveso.idno}}</span>
	  	</label>
	  	<label class="item item-input">
		    <span class="input-label">Name</span>
		    <span>{{saveso.username}}</span>
	  	</label>
	</div>

	<div class='list card'>
		<h4 class='subject'>Condition of Charge</h4>
		<label class='item item-input padding'>
			<textarea ng-model='saveso.condition'></textarea>
		</label>
	</div>

	<div class='list card'>
		<h4 class='subject'>Remark</h4>
		<label class='item item-input padding'>
			<textarea ng-model='saveso.remark'></textarea>
		</label>
	</div>

	<div class='list card'>
		<h4 class='subject'>Upload รูปภาพ</h4>
		<button type='button' ng-click='UploadImage()' class='button button-royal upload-btn'>เลือกรูป</button>

		<div ng-repeat='img in uploadImgs track by $index' class='item item-thumbnail-left item-button-right'>
			<img src="{{img}}">
			<button class='button button-assertive' ng-click='removeUploadImg($index)'>
				<i class='icon ion-close-circled'></i>
			</button>
		</div>

	</div>

	<button type='button' class='button button-block button-positive' ng-click='doSaveOrEditSO()'>{{title}}</button>

  </ion-content>

</ion-view>


