/* Empty. Add your own CSS if you like */
.header{
	margin-top: 10px;
}
.box-border{
	margin-top:10px;
	margin-bottom: 10px;
	border:1px solid;
}
.subject{
	margin-left: 15px;
}
.button-clear.button-clear{
	color:#444 !important;
}
.upload-btn{
	margin-left: 15px;
	margin-bottom: 15px;
}

input[type="text"], input[type="password"], .divautocomplete, .timepickerVal{
	background-color: #f3f3f3;
}

.timepicker{
	/*display: table;padding: 7px 10px 7px 0px;max-width: 200px;width: 35%;color: #444;font-size: 16px;*/
}

.timepickerVal{
	/*width:100%;
	height:34px;
	padding-top: 5px;*/
	margin-left: 9%;
}

.dte-header{
	background-color:#de0606;
	color:white;
	padding: 20px 0px 20px 10px;
	font-size: 23px;
}

.dte-logo{
	padding: 0px 40px 0px 40px;
}

.login-input{
	margin-right: 5% !important;
	background-color: white !important;
	border: 1px solid #fb0000 !important;
}

.login-btn{
	width:60%;
	margin-top: 20px;
	margin-bottom: 10px;
}

.marginleft-5{
	margin-left: 8%;
}